<body>
<div class="center hero-unit">
<h1>Seth Olson, B.S. Computer Engineering</h1>
<h2>
  Please view my previous and on-going work and feel free to leave a comment.
  <br>
  <%= link_to 'My Projects', controller: 'projects', class: "btn btn-large btn-primary" %>
</h2>

</div>

<%= link_to image_tag("rails.png", size: "100x100", alt: "Rails"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("bootstrap-logo.png",size: "100x100", alt: "Bootstrap"), 'http://getbootstrap.com/' %>
<%= link_to image_tag("html5-logo.png", size: "100x100", alt: "Rails"), 'http://www.w3schools.com/html/html5_intro.asp' %>
<%= link_to image_tag("css-logo.png",size: "100x100", alt: "Bootstrap"), 'http://www.w3schools.com/css/css3_intro.asp' %>
</body>