<table id="project_lists" class="table table-condensed table-hover table-responsive display">
  <thead>
  <tr>
    <th>Index</th>
    <th>Title</th>
    <th>Category</th>
  </tr>
</thead>
  <% @projects.each_with_index do |project, index| %>
  <tbody>
  <% if index%2 ==0 %>
    <tr class="info">
      <td><%= index+1 %></td>
      <td><%= link_to project.title, project_path(project)%></td>
      <td><%= project.category %></td>
      <td><%= link_to 'Show', project_path(project)%></td>
    </tr>
    <% else %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to project.title, project_path(project)%></td>
      <td><%= project.category %></td>
      <td><%= link_to 'Show', project_path(project)%></td>
    </tr>
    <%end%>
  </tbody>
  <% end %>
</table>
