<p><a href="projects/new" class="btn btn-primary" role="button">New Project</a> </p>
<h1>Coming Soon !</h1>
<h4>Can't decide which projects to show case <%= link_to image_tag("sad.jpg", title:"Sad") %></h4>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Index</th>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th colspan="4"></th>
  </tr>
</thead>
  <% @projects.each_with_index do |project, index| %>
  <tbody>
    <tr>
      <td><%= index+1 %></td>
      <td><%= project.title %></td>
      <td><%= project.category %></td>
      <td><%= project.text %></td>
      <td><%= link_to 'Show', project_path(project)%></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project_path(project), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  </tbody>
  <% end %>
</table>

