<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=doxy&amp;lang=css" defer="defer"></script>
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p> 
<p>
  <strong>Code:</strong>
  <%= link_to "Download File(s)", @project.avatar_url if @project.avatar? %>
  <br>
  <!--?prettify lang=html linenums=true?-->
<pre class="prettyprint" style="border:4px solid #88c">
  <%= @project.text %>
  </pre>
</p>
<% if @project.category.include?("Javascript")%>
<h1> Example </h1>
<%= @project.text.html_safe %>
<% end %>
<div class="row">
		<h2>Comments</h2>
		<%= render @project.comments %>
	<div class ="col-md-6 col-md-offset-3 table-bordered">
		<h2>Add a comment:</h2>
		<%= render "comments/form" %>
 	</div>
</div>
<br>
<%= link_to 'Edit project', edit_project_path(@project) %> |
<%= link_to 'Back to projects', projects_path %>
<br>
<br>
